.titlegrid{
    display: grid;
    margin-left: 30%;
    padding: 20px;
    
  }


  .grid{
    display: grid;
    grid-template-columns: 70% 70%;
    margin-left: 50px;
  }

  .container1{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }